/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

@import url("https://fonts.googleapis.com/css?family=Questrial|Quicksand|Raleway|Roboto");
body,
#text-container,
#markdown-container {
  font-family: "Questrial", sans-serif;
  font-size: 13px;
}

:root {
  --base-font-size: 1rem;
  --base-letter-spacing: 2px;
  --base-padding-top: 2%;
  --base-height: 5rem;
  --base-margin-bottom: 4%;
  --intro-text-size: clamp(2.75dvw, 3dvw, 3.25dvw);
  --intro-margin: 8.5%;
  --intro-padding-left: 6.25%;
  --description-ratio: 0.55;
  --cite-ratio: 0.7;
}

.contact-info a, .project-links-md a, .project-links a {
  text-decoration: none;
}

.intro-text {
  margin-top: var(--base-margin-bottom);
  margin-bottom: var(--base-margin-bottom);
  padding-left: var(--intro-padding-left);
  margin-right: var(--intro-margin);
  margin-left: var(--intro-margin);
  text-align: left;
  font-size: var(--intro-text-size);
}

.description {
  text-align: left;
  font-size: calc(var(--intro-text-size) * var(--description-ratio));
}

.contact-info {
  letter-spacing: var(--base-letter-spacing);
  white-space: nowrap;
  height: var(--base-height);
  margin-bottom: var(--base-margin-bottom);
  padding-top: var(--base-padding-top);
  font-size: var(--base-font-size);
  line-height: calc(100% - 0.65);
}

@media all and (max-width: 501px) {
  :root {
    --intro-text-size: clamp(5.25dvw, 5.5dvw, 5.75dvw);
  }
}

@media only screen and (min-width: 0px) and (max-width: 200px) {
  :root {
    --base-font-size: 0.65rem;
    --base-letter-spacing: 0.125px;
    --base-padding-top: 15%;
    --base-margin-bottom: 5%;
  }
}

@media only screen and (min-width: 201px) and (max-width: 390px) {
  :root {
    --base-font-size: small;
    --base-letter-spacing: 0.25px;
    --base-padding-top: 5%;
    --base-margin-bottom: 5%;
  }
}

@media only screen and (min-width: 391px) and (max-width: 501px) {
  :root {
    --base-font-size: small;
    --base-letter-spacing: 0.5px;
    --base-padding-top: 3%;
    --base-margin-bottom: 4.5%;
  }
}

@media only screen and (min-width: 502px) and (max-width: 1440px) {
  :root {
    --base-padding-top: 2%;
    --base-margin-bottom: 4%;
  }
}

@media only screen and (min-width: 1441px) {
  :root {
    --base-font-size: 1.5rem;
    --base-padding-top: 2%;
    --base-margin-bottom: 4%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 490px) {
  .technologies-utilized-title {
    font-size: clamp(6.75dvw, 7dvw, 7.25dvw);
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .main-title {
    margin-right: 8.5%;
    margin-left: 8.5%;
    font-size: clamp(8.5dvw, 9dvw, 9.5dvw);
  }
}

@media only screen and (min-width: 401px) and (max-width: 1800px) {
  .main-title {
    font-size: clamp(10dvw, 10.5dvw, 11dvw);
  }
}

@media only screen and (min-width: 1801px) {
  .main-title {
    font-size: clamp(11.5dvw, 12dvw, 12.5dvw);
    margin-right: 10%;
  }
}

h1,
h2 {
  text-shadow: 0px 2px white;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 0px) and (max-width: 200px) {
  .contact-info {
    text-align: center;
    font-size: 0.65rem;
    height: 5rem;
    margin-bottom: 5%;
    padding-top: 15%;
    letter-spacing: 0.125px;
  }
}

@media only screen and (min-width: 201px) and (max-width: 390px) {
  .contact-info {
    font-size: small;
    height: 5rem;
    margin-bottom: 5%;
    padding-top: 5%;
    letter-spacing: 0.25px;
  }
}

@media only screen and (min-width: 391px) and (max-width: 501px) {
  .contact-info {
    letter-spacing: 0.5px;
    font-size: small;
    height: 5rem;
    margin-bottom: 4.5%;
    padding-top: 3%;
  }
}

@media only screen and (min-width: 502px) and (max-width: 1440px) {
  .contact-info {
    height: 5rem;
    margin-bottom: 4%;
    line-height: calc(100% - 0.65);
    padding-top: 2%;
  }
}

@media only screen and (min-width: 1441px) {
  .contact-info {
    font-size: 1.5rem;
    height: 5rem;
    margin-bottom: 4%;
    line-height: calc(100% - 0.65);
    padding-top: 2%;
  }
}

.phone-contact {
  text-align: end;
  white-space: nowrap;
}

.email-contact {
  white-space: nowrap;
  text-align: left;
}

.credential-contact {
  text-align: center;
}

.screenshots {
  margin-top: -1.25rem;
  margin-bottom: 0.5rem;

  height: 10rem;
  max-width: 13rem;
  border: thick double;
}

.screenshots-md-lg {
  background-color: rgb(227, 220, 211);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  height: 18.5rem;
  max-width: 20rem;
  border: thick double;
}

.class-website-screenshot-container-xl-xxl {
  position: relative;
}

.transparent-screenshots-md-lg {
  z-index: -1;
  background-color: transparent;
  color: transparent;
  height: 0;
}

.leaderboard-project-links-md {
  position: relative;
  background-color: darkorange;
}

.xl-project-links-rightside {
  position: static;
}
.about-screenshot {
  height: 10rem;
  width: auto;
}
.main-title {
  text-align: center;
  line-height: 0.65;
}

.eitan-fires {
  white-space: nowrap;
}

.latest-projects {
  position: inline;
  font-weight: 300;
  white-space: nowrap;
  font-size: 77%;
}

.j-from-projects {
  font-family: "Raleway", sans-serif;
  font-size: 93%;
  font-weight: 375;
}

.technologies {
  border: 2px inset black;
  margin-bottom: 1rem;
  text-align: start;
}

@media all and (max-width: 501px) {
  .technologies {
    position: inline;
    margin-right: var(--intro-margin);
    margin-left: var(--intro-margin);
    padding-left: var(--intro-padding-left);
  }
}

.technologies-subsection-title {
  text-align: left;
}

.technologies-title {
  text-align: center;
  margin-bottom: 1rem;
}

.technologies-section {
  font-size: clamp(4.5dvw, 5dvw 5.5dvw);
  text-align: start;
  margin-bottom: 1rem;
  padding: 15px;
}

.title {
  font-size: clamp(4dvw, 4.5dvw, 5dvw);
  text-align: left;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.halloween-contest-leaderboard-title-xs-to-lg {
  font-size: clamp(4dvw, 4.5dvw, 5dvw);
}

.halloween-contest-leaderboard-title-xxl {
  font-size: clamp(4dvw, 4.5dvw, 4dvw);
}

.project-links {
  font-size: 1.25rem;
  text-align: left;
}

.project-links-md {
  position: relative;
  left: 33%;
  font-size: 1.25rem;
  text-align: left;
  margin-right: 2rem;
}

.description {
  text-align: left;
  font-size: calc(var(--intro-text-size) * var(--description-ratio));
}

@media all and (max-width: 501px) {
  :root {
    --intro-text-size: clamp(5.25dvw, 5.5dvw, 5.75dvw);
  }
}

.container {
  max-width: 90%;
}

.technologies-utilized-title {
  margin-top: 1rem;
  text-align: center;
}

i {
  font-size: 1.75rem;
}

.center-text {
  text-align: center;
}

.png-icon {
  height: 1.75rem;
  width: auto;
}

.fa-lock {
  height: 1.5rem;
}

.project-links .google-api-icon {
  position: absolute;
  margin-top: 10rem;
}

.tech-icons {
  height: 5rem;
}

@media all and (max-width: 537px) {
  .tech-icons {
    font-size: 1.5dvw;
  }
}

.wrapper {
  display: grid;
  max-width: 1280px;
  max-height: 100%;
}

cite {
  text-align: center;
  font-size: calc(var(--base-font-size) * var(--cite-ratio));
}

@media all and (max-width: 537px) {
  :root {
    --cite-ratio: 0.8;
  }
}

.row-content {
  padding-top: 2rem;
}

@media all and (max-width: 765px) {
  .row-content-by-spaced-out-tech-icons {
    position: relative;
    top: 1.5rem;
  }
}

@media all and (max-width: 974px) {
  .row-content-by-spaced-out-tech-icons {
    padding-top: 5rem;
  }
}

.single-page-links-and-screenshot {
  padding-right: 22%;
}
