#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #414141;
  /* background-color: rgb(238, 238, 238); */
  padding-left: 11%;
padding-right: 11%;
}

@import url("https://fonts.googleapis.com/css?family=Questrial|Quicksand|Raleway|Roboto");
body,
#text-container,
#markdown-container {
  font-family: "Questrial",
    /* 'Questrial',
    Roboto  */ /* 'Raleway',  */ /* 'Quicksand'  */
      sans-serif;
  font-size: 13px;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .wrapper {
    position:absolute;
left: 0rem;
  /* width: auto; */
  margin-top: -90%;
  padding-top: 10%;
  }
}

body {
  width: 0%;
}
/* @media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
width: 0%;
  }
} */

@media only screen and (min-width: 0px) and (max-width: 490px) {
  .technologies-subsection-title {
font-size: 10dvw;
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .main-title {
font-size: clamp( 13dvw, 14dvw, 15dvw);
padding-left: 11%;
padding-right: 11%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 12000px) {
  .main-title {
font-size: clamp( 16dvw, 17dvw, 18dvw);
padding-left: 11%;
padding-right: 11%;
  }
}

@media only screen and (min-width:407px) and (max-width: 1800px) {
  .main-title {
font-size: clamp( 12dvw, 13dvw, 14dvw);
/* padding-left: 11%;
padding-right: 11%; */
  }
}

@media only screen and (min-width: 0px) and (max-width: 406px) {
  .description {
font-size: 5dvw;  
/* margin-inline: -5%; */
}
}

section {
/* font-size: 2.5dvw; */
}

h1,
h2 {
  text-shadow: 0px 2px white;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact-info {
  font-size: larger;
  height: 1rem;
  margin-bottom: 18%;
    /* font-size: clamp(medium, large, larger); */
        /* font-size: clamp(.8rem, 2.5vw, 2.8rem); */

        padding-top: 10%;

    white-space: nowrap;
}

@media only screen and (min-width: 0px) and (max-width: 501px) {
  .contact-info {
font-size: 5dvw;
height: 100%;
  /* margin-bottom: 48%; */

  }
}

.phone-contact {
  text-align:end;
           white-space: nowrap;

}

.email-contact {
  text-align: left;
}

.credential-contact {
  text-align: center;
}

.screenshot-container {
}

.screenshots {
  margin-top: -1.25rem;
  margin-bottom: 0.5rem;

  height: 10rem;
  max-width: 13rem;
  border: thick double;
}

.screenshots-md-lg {
  background-color: rgb(227, 220, 211);
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 18.5rem;
  max-width: 21rem;
  border: thick double;
  margin-right: 2rem;
}

.class-website-screenshot-container-xl-xxl {
  position: relative;
}

.transparent-screenshots-md-lg {
  z-index: -1;
  background-color: transparent;
  color: transparent;
  height: 0;
}

.leaderboard-project-links-md {
  position: relative;
  right: 50%;
}

.xl-project-links-rightside {
  position: static;
}
.about-screenshot {
  height: 10rem;
  width: auto;
}
.main-title {
  text-align: left;
  /* margin-top: 5.5rem; */
}

.latest-projects {
white-space:nowrap;
}

.j-from-projects {
  font-family: "Raleway",
    /* 'Questrial',
    Roboto  */ /* 'Raleway',  */ /* 'Quicksand'  */
      sans-serif !important;
  font-size: 90%;
  font-weight: 700;
}

.technologies {
/* padding-left: -10dvw; */
    /* padding-right: -15rem; */
  border: 2px inset black;
max-width: 98%;
padding-left: 4%;
}

.technologies-subsection-title {
  text-align: left;
}

.technologies-title {
  text-align: center;
  margin-bottom: 1rem;
}

.technologies-section {
  font-size: 5dvw;
  text-align: start;
  margin-bottom: 1rem;
  padding: 15px;
}

.title {
    font-size: clamp(3dvw, 5dvw, 12dvw);
  text-align: left;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.description {
  text-align: left;
}

.project-links {
  font-size: 1.25rem;
  text-align: left;
}

.project-links-md {
  position: relative;
  left: 33%;
  font-size: 1.25rem;
  text-align: left;
  margin-right: 2rem;
}

.intro-text {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 10%;
margin-right: 9%;  
text-align: left;
  font-size: 6.5dvw;
}

.projects {
/* max-width:90%; */
}

.container {
max-width: 90%;
}

.technologies-utilized-title {
  margin-top: 1rem;
}

i {
  font-size: 1.75rem;
}

.center-text {
  text-align: center;
}

.png-icon {
  height: 1.75rem;
  width: auto;
}

.fa-lock {
  height: 1.5rem;
}

.project-links .google-api-icon {
  position: absolute;
  margin-top: 10rem;
}

.tech-icons {
  height: 5rem;
}

.wrapper {
display:grid;
  max-width: 1280px;
  max-height: 100%;
}

cite {
  font-size: 80%;
  position: relative;
  top: 1.25rem;
}

@media all and (max-width: 537px) {
  cite {
    font-size: 3.5dvw;
    position: sticky;
    /* font-size: 70%; */
    /* top: 45%; */
    /* padding-bottom: 55%; */
  /* padding-bottom: -5%;   */
    /* padding-bottom: 5%; */
  /* background-color: rgb(238, 238, 238); */
/* padding-left: 80%; */
/* white-space:nowrap; */
}
}

.row-content {
  padding-top: 2rem;
}

@media all and (max-width: 765px) {
  .row-content-by-spaced-out-tech-icons {
    position: relative;
    top: 1.5rem;
  }
}

@media all and (max-width: 974px) {
  .row-content-by-spaced-out-tech-icons {
    padding-top: 5rem;
  }
}
