#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.screenshots {
  height: auto;
  width: 12rem;
  text-align: left;
}

.main-title {
  margin-top: 4rem;
}

.title {
  text-align: left;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid black;
}

.description {
  text-align: left;
}

.project-links {
  text-align: left;
}

.intro-text {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: left;
  font-size: 1.5rem;
}
